    <div class="row">
      <div class="col-md-3 col-sm-12 col-xs-12"></div>
      <div class="col-md-6 col-sm-12 col-xs-12">
    <ul class="margin_padding_0">
  <li class="yoko"><%= image_tag('/assets/160_160pc.png', :class => "categorycover") %><%= link_to "家電・スマホ・カメラ", reviews_path(category_name: "家電・スマホ・カメラ") %></li>
  <li class="yoko"><%= image_tag('/assets/160_160cosme.png', :class => "categorycover") %><%= link_to "コスメ・香水・美容", reviews_path(category_name: "コスメ・香水・美容") %></li>
  <li class="yoko"><%= image_tag('/assets/160_160sports.png', :class => "categorycover") %><%= link_to "スポーツ・レジャー", reviews_path(category_name: "スポーツ・レジャー") %></li>
  <li class="yoko"><%= image_tag('/assets/160_160toy.png', :class => "categorycover") %><%= link_to "おもちゃ・ホビー・グッズ", reviews_path(category_name: "おもちゃ・ホビー・グッズ") %></li>
  <li class="yoko"><%= image_tag('/assets/160_160book.png', :class => "categorycover") %><%= link_to "本・音楽・ゲーム", reviews_path(category_name: "本・音楽・ゲーム") %></li>
  <li class="yoko"><%= image_tag('/assets/160_160interior.png', :class => "categorycover") %><%= link_to "インテリア・住まい・小物", reviews_path(category_name: "インテリア・住まい・小物") %></li>

</ul>
<ul>
  <li>Facebookの友達をさがす</li>
  <li>Twitterの友達をさがす</li>
  <li>カテゴリの人気ユーザーをさがす</li>
  <li>注目のユーザーをさがす</li>
  <li>おすすめのユーザーをさがす</li>
</ul>
<!--
    <ul class="margin_padding_0">
    <% @categories.each do |category| %>
      <li><%= link_to "#{category.category_name}", reviews_path(category_name: category.category_name) %></li>
    <% end %>

   </ul>
-->
</div><!--row-->
</div><!--col-->