<section class="module-small">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <h2 class="page-header">Edit User</h2>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= devise_error_messages! %>
          <div class="field">
            <%= f.label :name %><br>
            <%= f.text_field :name, autofocus: true, :class => "form-control" %>
          </div>
          <div class="field">
            <%= f.label :email %><br />
            <%= f.email_field :email, autocomplete: "email", :class => "form-control" %>
          </div>
          <div class="field">
            <%= f.label "アイコン画像" %><br />
            <% if (@user.provider == "facebook") %>
              <%= image_tag(@user.icon, :class => "img-circle", :alt => "Karan Singh Sisodia", :size => '100x100') if @user.icon %>
              <%= f.file_field :icon, id: :user_icon %>
            <% else %>
              <% unless @user.avator.blank? %>
                <%= image_tag(@user.avator.url, :class => "img-circle", :alt => "Karan Singh Sisodia", :size => '100x100') if @user.avator.url %>
              <% else %>
                <%= image_tag('/no_img.png', :class => "img-circle", :alt => "Karan Singh Sisodia", :size => '100x100') %>
              <% end %>
              <%= f.file_field :avator, id: :user_avator %>
            <% end %>
          </div>
          <div class="field">
            <%= f.label "プロフィール" %><br />
            <%= f.text_area :profile, :size => "2x4", :class => "form-control" %>
          </div>
          <div class="field">
            <%= f.label "カバー画像" %>
            <%= f.file_field :coverimg, id: :coverimg %>
          </div>
          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>
          <div class="field">
            <%= f.label :password %> (変更したくない場合は空欄のままにしてください)<br />
            <%= f.password_field :password, autocomplete: "off", :class => "form-control" %>
            <% if @minimum_password_length %>
              <%= @minimum_password_length %>文字以上
            <% end %>
          </div>
          <div class="field">
            <%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation, autocomplete: "off", :class => "form-control" %>
          </div>
          <br />
          <div class="actions">
            <%= f.submit "Update", :class => "btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>
