<section class="module-small">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <h2 class="page-header">SIGN UP</h2>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= devise_error_messages! %>
          <%= f.hidden_field :name %>

            <div class="field">
              <%= f.label :name %><br />
              <%= f.text_field :name %>
            </div>

            <div class="field">
              <%= f.label :avator %>
              <%= f.file_field :avator %>
              <%= image_tag @user.avator.url if @user.avator.url %>
            </div>

  <div class="field">
    <%= f.label :coverimg %>
    <%= f.file_field :coverimg, id: :coverimg %>
  </div>

          <div class="field">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", :class => "form-control" %>
          </div>

          <div class="field">
            <%= f.label :password %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "off", :class => "form-control" %>
          </div>

          <div class="field">
            <%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation, autocomplete: "off", :class => "form-control" %>
          </div>
          <br>
          <div class="actions">
            <%= f.submit "Sign up", :class => "btn btn-primary" %>
          </div>
        <% end %>

        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</section>
