<div class="comments">
  <% if @comments_number == 0 || current_user == nil %>

  <h4 class="comment-title font-alt">There are no comments</h4>
  <% else %>
  <h4 class="comment-title font-alt">There are <%= @comments_number %> comments</h4>
  <% end %>
  <div class="comment clearfix">
    <% if current_user != nil %>
      <% comments.each do |comment| %>
        <% unless comment.id.nil? %>
          <div class="comment-avatar">
            <% if (comment.user.provider == "facebook") %>
              <%= image_tag comment.user.icon, :class => "img-circle", :alt => "icon", :size => "50x50" %>
            <% elsif !comment.user.avator.nil? %>
              <%= image_tag(comment.user.avator.to_s, :class => "img-circle", :alt => "icon", :size => "50x50") %>
            <% else %>
              <%= image_tag('https://s3-ap-northeast-1.amazonaws.com/tamtim/uploads/default.png', :class => "img-circle", :alt => "icon", :size => "50x50") %>
            <% end %>
          </div>
          <div class="comment-content clearfix">
            <div class="comment-author font-alt"><%= link_to "#{comment.user.name}", user_path(comment.user.id) %></div>
            <div class="comment-body"><%= comment.content %></div>
            <div class="comment-meta font-alt"><%= comment.created_at.strftime("%Y年%m月%d日") %></div>
            <% if comment.user_id == current_user.id %>
              <p><%= link_to 'コメントを削除する', review_comment_path(comment.review_id, comment.id), method: :delete, remote: true %></p>
            <% end %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
