<li>
  <% if  notification.notified_type == 'フォロー' %>
    <% message = 'あなたを' %>
  <% else %>
    <% message = 'あなたの記事に' %>
  <% end %>
  <%= link_to link_through_path(notification) do %>
    <%= image_tag(notification.notified_by.icon, :class => "img-circle", :size =>"25x25") %>
    <%= notification.notified_by.name %>さんが<br><%= message %><%= notification.notified_type %>しました
  <% end %>
</li>
