<section class="module-medium" id="demos">
  <div class="container">
    <section class="bg-dark-60 blog-page-header cover mypagecover" data-background="images/3480159.jpg">
      <div class="mypageicon">
        <% if (@user.provider == "facebook") %>
          <% @user.icon = @user.icon.insert(4,"s") %>
          <%= image_tag @user.icon, :class => "img-circle", :alt => "Karan Singh Sisodia", :size => "100x100" %>
        <% elsif @user.avator %>
          <%= image_tag(@user.avator.to_s, :class => "img-circle", :alt => "Karan Singh Sisodia", :size => "100x100") %>
        <% else %>
          <%= image_tag('/no_img.png', :class => "img-circle", :alt => "Karan Singh Sisodia", :size => "100x100") %>
        <% end %>
      </div>
      <div class="follow_button">
        <%= render 'follow_form' %>
      </div>
    </section>

    <div class="row">
      <div class="col-sm-8">
        <h3><%= @user.name %></h3>
        <div><%= @user.profile  %></div>
        <% if current_user && @user.id == current_user.id %>
          <%= link_to 'ユーザーを編集する', edit_user_registration_path  %>
          <%= link_to 'ユーザーを削除する', users_destroy_path(id: current_user.id), method: :delete %>
        <% end %>
      </div>

      <div class="col-sm-4">
        <table class="table">
          <tbody>
            <tr>
              <td>レビュー数</td>
              <td>362</td>
            </tr>
            <tr>
              <td>写真</td>
              <td>456枚</td>
            </tr>
            <tr>
              <td>訪問者数</td>
              <td>3,468人</td>
            </tr>
            <tr>
              <td>いいね！数</td>
              <td>568いいね！</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-8">
        <!-- パンくずリスト（うまく表示されないのでコメントアウト）
        <% breadcrumb :user, @user %>
        <% provide(:title, @user.name) %>
        -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
        <script>
          $(function(){
  	        $('.readmore').click(function(){
  		        $(this).hide();
  		        $(this).parent('.main').removeClass('onhidden');
  	        });
          });
        </script>

        <ul class="nav nav-tabs">
          <li class="nav-item active">
            <a href="#tab1" class="nav-link" data-toggle="tab">投稿一覧</a>
          </li>
          <li class="nav-item">
            <a href="#tab2" class="nav-link" data-toggle="tab">お気に入り一覧</a>
          </li>
          <li class="nav-item">
            <a href="#tab3" class="nav-link" data-toggle="tab">フォローしている人の投稿一覧</a>
          </li>
        </ul>
        <div class="tab-content">
          <div id="tab1" class="tab-pane active">
            <div class="waku">
              <input type="checkbox" name="riyu" value="1" checked="checked">すべて
              <input type="checkbox" name="riyu" value="2">#サプライズ
              <input type="checkbox" name="riyu" value="3">#デート
              <input type="checkbox" name="riyu" value="4">	#apple
              <input type="checkbox" name="riyu" value="5">	#iphone
              <input type="checkbox" name="riyu" value="6">	#mac
              <input type="checkbox" name="riyu" value="7">	#スマホ
              <input type="checkbox" name="riyu" value="8">	#周辺機器
              <input type="checkbox" name="riyu" value="9">	#イヤフォン
              <input type="checkbox" name="riyu" value="10">	#便利
              <input type="checkbox" name="riyu" value="11">	#おしゃれ
              <input type="checkbox" name="riyu" value="12">	#プレゼント
              <input type="checkbox" name="riyu" value="13">	#カメラ
              <input type="checkbox" name="riyu" value="14">	#日用品
              <input type="checkbox" name="riyu" value="15">	#工具
              <input type="checkbox" name="riyu" value="16">	#本
              <input type="checkbox" name="riyu" value="17">	#lifehack
              <input type="checkbox" name="riyu" value="18">	#音楽
              <input type="checkbox" name="riyu" value="19">	#文房具
              <input type="checkbox" name="riyu" value="20">	#漫画
              <input type="checkbox" name="riyu" value="21">	#ビジネス
              <input type="checkbox" name="riyu" value="22">	#筋トレ
              <input type="checkbox" name="riyu" value="23">	#スポーツ
              <input type="checkbox" name="riyu" value="24">	#健康
              <input type="checkbox" name="riyu" value="25">	#ランニング
              <input type="checkbox" name="riyu" value="26">	#スピーカー
              <input type="checkbox" name="riyu" value="27">	#美容
              <input type="checkbox" name="riyu" value="28">	#キッチン
              <input type="checkbox" name="riyu" value="29">	#家具
              <input type="checkbox" name="riyu" value="30">	#キャンプ
              <input type="checkbox" name="riyu" value="31">	#アウトドア
              <input type="checkbox" name="riyu" value="32">	#春
              <input type="checkbox" name="riyu" value="33">	#夏
              <input type="checkbox" name="riyu" value="34">	#秋
              <input type="checkbox" name="riyu" value="35">	#冬
              <input type="checkbox" name="riyu" value="36">	#海
              <input type="checkbox" name="riyu" value="37">	#山
              <input type="checkbox" name="riyu" value="38">	#旅行
              <input type="checkbox" name="riyu" value="39">	#ガジェット
              <input type="checkbox" name="riyu" value="40">	#防災
              <input type="checkbox" name="riyu" value="41">	#食べ物
              <input type="checkbox" name="riyu" value="42">	#ワイヤレス
              <input type="checkbox" name="riyu" value="43">	#まとめる
              <input type="checkbox" name="riyu" value="44">	#インテリア
              <input type="checkbox" name="riyu" value="45">	#サプリ
              <input type="checkbox" name="riyu" value="46">	#ウェアラブル
              <input type="checkbox" name="riyu" value="47">	#アクセサリ
              <input type="checkbox" name="riyu" value="48">	#生活家電
              <input type="checkbox" name="riyu" value="49">	#掃除
              <input type="checkbox" name="riyu" value="50">	#収納
              <input type="checkbox" name="riyu" value="51">	#雑貨
            </div>

            <% @user.reviews.each do |review| %>
              <div class="post">
                <div class="post-header font-alt">
                  <h2 class="post-title"><%= review.title %></h2>
                  <div class="post-meta">
                    By&nbsp;<a href="#">Mark Stone</a>&nbsp;| 23 November | 3 Comments
                  </div>
                </div>

                <div class="post-entry">
                  <div class="main onhidden">
                    <%== review.content %>
                    <div class="readmore">
                      <span>続きを読む</span>
                    </div>
                  </div>
                </div>
                <div class="post-more">
                  <%= link_to '詳細を確認する', review_path(review.id) %>
                  <%= link_to "編集する", edit_review_path(review.id) %>
                  <%= link_to 'ブログを削除する', review_path(review.id), method: :delete ,data: { confirm: '本当に削除していいですか？' } %>
                </div>
              </div>
            <% end %>
          </div>

          <div id="tab2" class="tab-pane">
            <% @user.favorite_reviews.each do |review| %>
              <div class="col-md-6 col-lg-6">
                <div class="post">
                  <div class="post-thumbnail">
                    <%= image_tag(review.image.url, :class => "fit-img") if review.image.url %>
                  </div>
                  <div class="post-header font-alt">
                    <h2 class="post-title"><%= review.title %></h2>
                    <div class="post-meta">By&nbsp;<a href="#">Mark Stone</a>&nbsp;| 23 November | 3 Comments</div>
                  </div>
                  <div class="post-entry">
                    <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
                  </div>
                  <div class="post-more">
                    <%= link_to '詳細を確認する', review_path(review.id) %>
                  </div>
                </div>
              </div>
            <% end %>
          </div>

          <div id="tab3" class="tab-pane">
            <% if current_user && @user.id == current_user.id %>
              <% if @feed_items.any? %>
                <%= render @feed_items %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>


      <div class="col-sm-4 col-md-3 col-md-offset-1 sidebar">
        <div class="widget">
          <h5 class="widget-title font-alt">Recent Posts</h5>
          <ul class="icon-list">
            <%= render 'stats' %>
          </ul>
        </div>
        <div class="widget">
          <h5 class="widget-title font-alt">Popular Posts</h5>
          <ul class="icon-list">
          </ul>
        </div>
        <div class="widget">
          <h5 class="widget-title font-alt">Tag</h5>
          <div class="tags font-serif">
            <a href="#" rel="tag">Blog</a>
            <a href="#" rel="tag">Photo</a>
            <a href="#" rel="tag">Video</a>
            <a href="#" rel="tag">Image</a>
            <a href="#" rel="tag">Minimal</a>
            <a href="#" rel="tag">Post</a>
            <a href="#" rel="tag">Theme</a>
            <a href="#" rel="tag">Ideas</a>
            <a href="#" rel="tag">Tags</a>
            <a href="#" rel="tag">Bootstrap</a>
            <a href="#" rel="tag">Popular</a>
            <a href="#" rel="tag">English</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
