<section class="module-medium" id="demos">
  <div class="container">
    <section class="">
      <% if @user.coverimg.blank? %>
        <%= image_tag('https://s3-ap-northeast-1.amazonaws.com/tamtim/uploads/usercoverimg.jpg', :class => "mypagecover-img") %>
      <% else %>
        <%= image_tag(@user.coverimg.url, :class => "mypagecover-img") %>
      <% end %>
      <div class="mypageicon">
        <% if (@user.provider == "facebook") %>
          <% @user.icon = @user.icon.insert(4,"s") %>
          <%= image_tag @user.icon, :class => "img-circle", :alt => "Karan Singh Sisodia", :size => "100x100" %>
        <% elsif @user.avator %>
          <%= image_tag(@user.avator.to_s, :class => "img-circle", :alt => "Karan Singh Sisodia", :size => "100x100") %>
        <% else %>
          <%= image_tag('/no_img.png', :class => "img-circle", :alt => "Karan Singh Sisodia", :size => "100x100") %>
        <% end %>
      </div>
      <div class="follow_button">
        <%= render 'follow_form' %>
      </div>
    </section>

    <div class="row">
      <div class="col-sm-8">
        <div class="row">
          <div class="col-sm-6">
            <h3><%= @user.name %></h3>
          </div>
          <div class="FollowCountContainar col-sm-5">
            <%= render 'stats' %>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-11">
            <%= @user.profile  %>
            <% if current_user && @user.id == current_user.id %>
              <div class="UserEditLink">
                <%= link_to(content_tag(:i, 'プロフィールを編集する', class: 'fa fa-cog'), edit_user_registration_path)  %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <table class="table">
          <tbody>
            <tr>
              <td>レビュー数</td>
              <td><%= @user.reviews.count %>件</td>
            </tr>
            <tr>
              <td>レビューへの訪問者数</td>
              <td><%= number_with_delimiter(@page_views) %>人</td>
            </tr>
            <tr>
              <td>レビューへのお気に入り数</td>
              <% @count = 0 %>
              <% @user.reviews.each do |review| %>
                <% @count += review.favorites.count %>
              <% end %>
              <td><%= @count %>件</td>
            </tr>
            <tr>
              <td>レビューへのいいね！数</td>
              <% @count = 0 %>
              <% @user.reviews.each do |review| %>
                <% @count += review.likes.count %>
              <% end %>
              <td><%= @count %>件</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-8">
        <!-- パンくずリスト（うまく表示されないのでコメントアウト）
        <% breadcrumb :user, @user %>
        <% provide(:title, @user.name) %>
        -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
        <script>
          $(function(){
  	        $('.readmore').click(function(){
  		        $(this).hide();
  		        $(this).parent('.main').removeClass('onhidden');
  	        });
          });
        </script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
var searchBox = '.search-box'; // 絞り込む項目を選択するエリア
var listItem = '.list_item';   // 絞り込み対象のアイテム
var hideClass = 'is-hide';     // 絞り込み対象外の場合に付与されるclass名




$(function() {
    // 絞り込み項目を変更した時
    $(document).on('change', searchBox + ' input', function() {
        search_filter();
    });
});

/**
 * リストの絞り込みを行う
 */
function search_filter() {
    // 非表示状態を解除
    $(listItem).removeClass(hideClass);
    for (var i = 0; i < $(searchBox).length; i++) {
        var name = $(searchBox).eq(i).find('input').attr('name');
        // 選択されている項目を取得
        var searchData = get_selected_input_items(name);
        // 選択されている項目がない、またはALLを選択している場合は飛ばす
        if(searchData.length === 0 || searchData[0] === '') {
            continue;
        }
        // リスト内の各アイテムをチェック
        for (var j = 0; j < $(listItem).length; j++) {
            // アイテムに設定している項目を取得
            var itemData = $(listItem).eq(j).data(name);
            // 絞り込み対象かどうかを調べる
            if(searchData.indexOf(itemData) === -1) {
                $(listItem).eq(j).addClass(hideClass);
            }
        }
    }
}

/**
 * inputで選択されている値の一覧を取得する
 * @param  {String} name 対象にするinputのname属性の値
 * @return {Array}       選択されているinputのvalue属性の値
 */
function get_selected_input_items(name) {
    var searchData = [];
    $('[name=' + name + ']:checked').each(function() {
        searchData.push($(this).val());
    });
    return searchData;
}

</script>

        <ul class="nav nav-tabs">
          <li class="nav-item active">
            <a href="#tab1" class="nav-link" data-toggle="tab">投稿一覧</a>
          </li>
          <li class="nav-item">
            <a href="#tab2" class="nav-link" data-toggle="tab">お気に入り一覧</a>
          </li>
        </ul>
        <div class="tab-content">
          <div id="tab1" class="tab-pane active">
            <div class="waku">
<form>

    <div class="search-box">
        <span class="search-box_label">タグで絞り込む:</span><br>
        <input type="checkbox" name="color" value="">ALL
        <% @tag.each do |tag| %>
        <input type="checkbox" name="color" value="<%= tag.name %>"><%= tag.name %>
        <% end %>
    </div>
</form>
<div class="top_margin"> </div>
            </div>
            <div class="list">
              <% @user.reviews.each do |review| %>
              <div class="list_item" data-kind="果物" data-color="<%= review.skill_list  unless review.skill_list.blank? %>">
                <div class="post">
                  <div class="post-header font-alt">
                    <h2 class="post-title"><%= review.title %></h2>
                    <div class="post-meta">
                      By&nbsp;<%= link_to @user.name, @user %>&nbsp;| <%= review.created_at.strftime('%Y-%m-%d') %> |<%= review.comments.count %> comments |<%= render 'reviews/tag_list', tag_list: review.skill_list  unless review.skill_list.blank? %> <% if current_user && @user.id == current_user.id %>
                      <%= link_to (content_tag(:i, '編集する', class: 'fas fa-pencil-alt post-function')), edit_review_path(review.id) %>
                      <%= link_to (content_tag(:i, '',class: 'far fa-trash-alt post-function')), review_path(review.id), method: :delete ,data: { confirm: '本当に削除していいですか？' } %>
                    <% end %>
                    </div>
                  </div>
                  <div class="post-entry">
                    <div class="main onhidden">
                      <%== review.content %>
                      <%= link_to '詳細を確認する', review_path(review.id) %>
                      <div class="readmore">
                        <span>続きを読む</span>
                      </div>
                    </div>
                  </div>
                  <div class="post-more">
                    
                  </div>
                </div>
              </div>
              <% end %>
            </div>
          </div>
          <div id="tab2" class="tab-pane">
            <% @user.favorite_reviews.each do |review| %>
            <div class="post">
              <div class="post-thumbnail">
                <%= image_tag(review.image.url, :class => "fit-img") if review.image.url %>
              </div>
              <div class="post-header font-alt">
                <h2 class="post-title"><%= review.title %></h2>
                <div class="post-meta">
                  <% post_user = User.find(review.user_id) %>
                    By&nbsp;<%= link_to post_user.name, user_path(post_user.id) %>&nbsp;| <%= review.created_at.strftime('%Y-%m-%d') %> | <%= review.comments.count %> comments
                </div>
              </div>
              <div class="post-entry">
                <div class="main onhidden">
                  <%== review.content %>
                  <div class="readmore">
                    <span>続きを読む</span>
                  </div>
                </div>
              </div>
              <div class="post-more">
                <%= link_to '詳細を確認する', review_path(review.id) %>
              </div>
            </div>
            <% end %>
          </div>
        </div>
      </div>
      
      <div class="hidden-xs col-sm-4 col-md-3 col-md-offset-1 sidebar">
        <div class="widget">
          <h5 class="widget-title font-alt">Recent Posts</h5>
          <ul class="icon-list">
          </ul>
        </div>
        <div class="widget">
          <h5 class="widget-title font-alt">Popular Posts</h5>
          <ul class="icon-list">
          </ul>
        </div>
        <div class="widget">
          <h5 class="widget-title font-alt">Tag</h5>
          <div class="tags font-serif">
            <a href="#" rel="tag">Blog</a>
            <a href="#" rel="tag">Photo</a>
            <a href="#" rel="tag">Video</a>
            <a href="#" rel="tag">Image</a>
            <a href="#" rel="tag">Minimal</a>
            <a href="#" rel="tag">Post</a>
            <a href="#" rel="tag">Theme</a>
            <a href="#" rel="tag">Ideas</a>
            <a href="#" rel="tag">Tags</a>
            <a href="#" rel="tag">Bootstrap</a>
            <a href="#" rel="tag">Popular</a>
            <a href="#" rel="tag">English</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
