<section class="module-medium" id="demos">
          <div class="container">
    <div class="row">
<h1>フォローしている人一覧</h1>

 <% @user.followings.each do |user| %>
 <div class="row bottom">

<div class="col-sm-1">

  
  <% if (user.provider == "facebook") %>
    <%= image_tag user.icon, :class => "img-circle", :alt => "icon", :size => "100x100" %>
  <% elsif !user.avator.nil? %>
    <%= image_tag(user.avator.to_s, :class => "img-circle", :alt => "icon", :size => "100x100") %>   
  <% else %>
    <%= image_tag('https://s3-ap-northeast-1.amazonaws.com/tamtim/uploads/default.png', :class => "img-circle", :alt => "icon", :size => "100x100") %>
  <% end %>
  </div>
    <div class="col-sm-1">
  <%= link_to user.name, user_path(user) %>
</div>

  <div class="col-sm-8">
<%= user.profile  %>
</div>
  

  

</div>
<% end %>

</div>