        <div class="col-md-3 col-sm-12 col-xs-12">
          <div class="waku">
            <div class="row">
              <div class="col-sm-4 col-xs-4">
                <% if user.provider == "facebook" %>
                  <div class="features-icon"><%= link_to image_tag(user.icon, :class => "img-circle", :alt => "icon", :size => '70x70'), user %></div>
                <% elsif !user.avator.nil? %>
                  <div class="features-icon"><%= link_to image_tag(user.avator.to_s, :class => "img-circle", :alt => "icon", :size => '70x70'), user %></div>
                <% else %>
                  <div class="features-icon"><%= link_to image_tag('https://s3-ap-northeast-1.amazonaws.com/tamtim/uploads/default.png', :class => "img-circle", :alt => "icon", :size => '70x70'), user %></div>
                <% end %>
              </div>
              <div class="col-sm-8 col-xs-8">
                <h2 class="features-title font-alt hidari"><%= link_to user.name, user %></h2>
              </div>
              <div class="col-sm-12 col-xs-12 topprofile">
                <%= user.profile.truncate(50) if user.profile %>
              </div>
              <div class="col-sm-12 col-xs-12 topimage">
                <div class="dashed"></div>
                <% @new_reviews = user.reviews.order(created_at: :desc).limit(1) %>
                <% @new_reviews.each do |new_review| %>
                  <div class="toptitle"><%= link_to new_review.title,new_review %></div>
                  <%= link_to image_tag(new_review.images.url, :class => "fit-imgtop"),new_review if new_review.images.url %>
                <% end %>
              </div>
              <div class="col-sm-12 col-xs-12">
                <div class="hidari gold"><%= link_to 'レビューをもっと見る&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;>'.html_safe, user, { :class => "gold" } %></div>
              </div>
            </div>
          </div>
        </div>
