<section class="bg-dark-30 showcase-page-header module parallax-bg" data-background="assets/images/44c4d738128c48d954f4f9647f57a06c_m.jpg">
  <div class="titan-caption">
    <div class="caption-content">
      <div class="font-alt mb-30 titan-title-size-1">人からのおすすめで価値あるものを見つける</div>
      <div class="font-alt mb-40 titan-title-size-4">timtam</div>
      <a class="section-scroll btn btn-border-w btn-round" href="#demos">See Reviews</a>
      <% unless user_signed_in? %>
        <%= link_to "Facebookで登録", user_facebook_omniauth_authorize_path, class: "login-button facebook" ,method: :post %>
      <% end %>
    </div>
  </div>
</section>


<section class="module-medium" id="demos">
  <div class="container">
    <center><h1>Reviews</h1></center>
    <div class="row multi-columns-row">
      <% @review.each do |review| %>
        <div class="col-md-3 col-sm-12 col-xs-12">
         <div class="features-item">
           <% unless review.image.blank? %>
            <div class="features-icon"><%= link_to image_tag(review.image.url, :class =>'fit-img'), review_path(review.id) %></div>
           <% else %>
            <div class="features-icon"><%= link_to image_tag('/no_img.png', :class =>'fit-img'), review_path(review.id) %></div>
           <% end %>
           <h3 class="features-title font-alt"><%= link_to review.title , review_path(review.id) %></h3>
        </div>
       </div>
     <% end %>
    </div>
  </div>
</section>

<section class="module-medium" id="demos">
  <div class="container">
    <center><h1>Reviewers</h1></center>
    <div class="row multi-columns-row">
      <% @users.each do |user| %>
        <div class="col-md-3 col-sm-12 col-xs-12">
         <div class="features-item">
           <% if user.provider == "facebook" %>
             <div class="features-icon"><% user.icon = user.icon.insert(4,"s") %><%= link_to image_tag(user.icon, :class => "img-circle", :alt => "Karan Singh Sisodia", :size => '100x100'), user %></div>
            <% elsif user.avator %>
             <div class="features-icon"><%= link_to image_tag(user.avator.to_s, :class => "img-circle", :alt => "Karan Singh Sisodia", :size => '100x100'), user %></div>
            <% else %>
             <div class="features-icon"><%= link_to image_tag('/no_img.png', :class => "img-circle", :alt => "Karan Singh Sisodia", :size => '100x100'), user %></div>
           <% end %>
           <h3 class="features-title font-alt"><%= link_to user.name, user %></h3>
        </div>
       </div>
     <% end %>
    </div>
  </div>
</section>

        <div class="module-small bg-dark">
          <div class="container">
            <div class="row">
              <div class="col-sm-3">
                <div class="widget">
                  <h5 class="widget-title font-alt">about timtam</h5>
                  <ul class="icon-list">
                    <li><a href="#">timtamについて</a></li>
                    <li><a href="#">利用規約</a></li>
                    <li><a href="#">プライバシーポリシー</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="widget">
                  <h5 class="widget-title font-alt">about team</h5>
                  <ul class="icon-list">
                    <li><a href="#">チーム道玄坂について</a></li>
                    <li><a href="#">採用情報</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="widget">
                  <h5 class="widget-title font-alt">お問い合わせ</h5>
                  <ul class="icon-list">
                    <li><a href="#">お問い合わせ</a></li>
                    <li><a href="#">広告掲載について</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>

        <footer class="footer bg-dark">
          <div class="container">
            <div class="row">
              <div class="col-sm-6">
                <p class="copyright font-alt">&copy; 2018&nbsp;<a href="index.html">Team Dogenzaka</a>, All Rights Reserved</p>
              </div>
              <div class="col-sm-6">
                <div class="footer-social-links">
                  <a href="#">
                    <i class="fa fa-facebook">
                    </i>
                  </a>
                  <a href="#">
                    <i class="fa fa-twitter">
                    </i>
                  </a>
                  <a href="#">
                    <i class="fa fa-dribbble">
                    </i>
                  </a>
                  <a href="#">
                    <i class="fa fa-skype">
                    </i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </footer>
        </div>
      <div class="scroll-up"><a href="#totop"><i class="fa fa-angle-double-up"></i></a></div>