<%= form_with(model: @review, local: true) do |form| %>
  <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2><%= @review.errors.count %>件のエラーがあります。</h2>
      <ul>

      <% @review.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="review_title">
    <%= form.text_field :title, class: "form-control", placeholder: "タイトルを入力してください" %>
  </div>
  <div class="field">
    <%= form.text_area :content, class: "form-control", placeholder: "レビュー本文を入力してください" %>
  </div>
  <p>現在0文字</p>
  
  <div class="field">
    <button type="button" class="btn btn-outline-dark"><i class="far fa-image fa-10x"></i>
      <%= form.label :image, class: "btn btn-default" %>
      <%= form.file_field :image, id: :review_image, style: "display: none;" %>
    </button>
  </div>
  <div class="field">
    <%= form.label :下書き %>
    <%= form.check_box 'draft', {}, false, true %>
  </div>


  <div class="field">
    <%= form.label :skill_list, "タグ:" %><br>
    <%= text_field_tag 'review[skill_list]', @review.skill_list.join(',') %>
  </div>

<!--
<div class="field">
     <%= form.label :tags %><br>
    <%= collection_check_boxes(:hashtag, :hashtag_ids, Hashtag.all, :id, :hashtag_name ) do |t|  %>
      <% t.label { t.check_box + t.text } %>
      <% end %>
</div>
-->
  <br>
  <%= form.submit "レビューを投稿する", class: "btn btn-round btn-d"  %>

<% end %>
