<%= form_with(model: @review, local: true) do |form| %>
  <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2><%= @review.errors.count %>件のエラーがあります。</h2>
      <ul>

      <% @review.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="waku col-xs-10 col-xs-offset-1">
    <div class="field">
      <div id="preview"></div>
      <button type="button" class="col-xs-offset-1 select_images_button" id="select_images">
	      <i class="fas fa-images fa-3x"></i>
        <%= form.file_field :images, id: :review_images, multiple: true, style: 'display: none' %>
      </button>
      <%= image_tag(@review.image.url, :size => '200x200') if @review.image.url %>
    </div>

    <div class="field">
      <%= form.text_field :title,id: 'review-title', class: "form-control", placeholder: "レビュータイトル" %>
    </div>

    <div class="field">
      <%= form.text_area :content, :class => "form-control review-content", placeholder: "レビュー本文" %>
    </div>

    <br>
    <br>
    <div class="field">
      <%= form.label :下書き %>
      <%= form.check_box 'draft', {}, false, true %>
    </div>

    <div class="field">
      <%= form.label :skill_list, "タグ:" %><br>
      <%= text_field_tag 'review[skill_list]', @review.skill_list.join(',') %>
    </div>

    <%= form.collection_select(:category_name, Category.all, :category_name, :category_name, :include_blank => 'カテゴリ') %>
    <!--
    <div class="field">
        <%= form.label :tags %><br>
        <%= collection_check_boxes(:hashtag, :hashtag_ids, Hashtag.all, :id, :hashtag_name ) do |t|  %>
          <% t.label { t.check_box + t.text } %>
          <% end %>
    </div>
    -->
    <br>
    <%= form.submit "レビューを投稿する", class: "btn btn-round btn-d"  %>
  <% end %>
</div>
<script>
  document.getElementById('select_images').onclick = function() {
    document.getElementById("review_images").click();
  };
 </script>
<script>
function Filepreview(evt){
 var files = evt.target.files;

document.getElementById('preview').innerHTML =""

 for(var i = 0; i < 3;i++){
 var reader = new FileReader();
 var f = files[i]
 reader.onload = (function(){
 return function(e) {
 var span = document.createElement('span');
 span.innerHTML= "<img src='" +e.target.result + "'>";
 document.getElementById('preview').insertBefore(span,null);
 };
 })(f);
 reader.readAsDataURL(f);
 }
}
document.getElementById('review_images').addEventListener('change',Filepreview,false);
</script>
