<%= form_with(model: @review, local: true ,url: choose_new_or_edit) do |form| %>
  <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2><%= @review.errors.count %>件のエラーがあります。</h2>
      <ul>

      <% @review.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="blog_title">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.cktext_area :content, :class => "ckeditor" %>
  </div>

  <div class="field">
    <%= form.label :image %>
    <!-- 確認画面から新規作成画面に戻った時に、 -->
    <!-- アップロードした画像を表示させるための記述 -->
    <%= image_tag(@review.image.url) if @review.image.url %>
    <%= form.file_field :image, id: :review_image %>
  </div>

  <div class="field">
    <%= form.label :draft %>
    <%= form.check_box 'draft', {}, false, true %>
  </div>

  <%= form.submit %>

<% end %>
