<div class="col-md-3 col-sm-12 col-xs-12">
  <div class="waku">
    <div class="row">
      <div class="col-sm-12 topimage">
        <%= link_to image_tag(review.image.url, :class => "fit-imgtop"), review_path(review.id) if review.image.url %>
      </div>
      <div class="col-sm-12 top_margin">
      </div>
      <div class="col-sm-4 col-xs-4">
        <div class="features-icon">
          <% if (review.user.provider == "facebook") %>
            <%= image_tag review.user.icon, :class => "img-circle", :alt => "icon", :size => "70x70" %>
          <% elsif !review.user.avator.nil? %>
            <%= image_tag(review.user.avator.to_s, :class => "img-circle", :alt => "icon", :size => "70x70") %>
          <% else %>
            <%= image_tag('https://s3-ap-northeast-1.amazonaws.com/tamtim/uploads/default.png', :class => "img-circle", :alt => "icon", :size => "70x70") %>
          <% end %>
        </div>
      </div>
      <div class="col-sm-8 col-xs-8">
        <div class="post-header font-alt">
          <h2 class="features-title font-alt">
            <%= link_to review.title, review_path(review.id) %></h2>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="post-meta">By&nbsp;<%= link_to review.user.name, user_path(id: review.user.id) %>投稿日時: <%= review.created_at.strftime("%Y年%m月%d日") %></div>
      </div>
    </div>
  </div>
</div>
