<h3 class="title-place">以下の内容で、送信する。</h3>

<%= form_with(model: @review, url: reviews_path, local: true) do |form| %>

  <%= form.hidden_field :title %>
  <%= form.hidden_field :content %>
  <%= form.hidden_field :user_id %>
  <%= form.hidden_field :image_cache %>
  <%= form.hidden_field :draft %>

  <p class="centering_item">Title: <%= @review.title %></p>
  <p class="centering_item">Content:<%= form.cktext_area :content, :class => "ckeditor" %></p>
  <div class="field centering_item">
    <!-- 確認画面でアップロードした画像を表示させるための記述 -->
    <% unless @review.image.blank? %>
      <%= image_tag(@review.image.to_s) %>
    <% else %>
       <%= image_tag '/no_img.png' %>
    <% end %>
  </div>
  <%= form.submit( "登録する", :class => "center-block submit-button") %>
<% end %>

<%= form_with(model: @review, url: new_review_path, local: true, method: 'get') do |form| %>
  <%= form.hidden_field :title %>
  <%= form.hidden_field :content %>
  <%= form.hidden_field :user_id %>
  <%= form.hidden_field :image_cache %>
  <%= form.hidden_field :draft %>

  <%= form.submit("もどる", name: 'back', :class => "center-block submit-button") %>
<% end %>
