  <div class="container">
    <% if params[:tag] %>
      <% header_tag = (params[:tag]) %>
      <h1><%= header_tag %></h1>
    <% else %>
      <h1>レビュー一覧</h1>
    <% end %>
    <div class="row">
        <div class="row">
            <% @review.order("created_at DESC").each do |review| %>
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="col-md-3 col-sm-12 col-xs-12"></div><!--col-->
                  <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="waku">
                      <ul class="margin_padding_0">
                        <li class="yoko">
                          <div class="topicon">
                            <% if (review.user.provider == "facebook") %>
                              <%= image_tag review.user.icon, :class => "img-circle", :alt => "icon", :size => "35x35" %>
                            <% elsif !review.user.avator.nil? %>
                              <%= image_tag(review.user.avator.to_s, :class => "img-circle", :alt => "icon", :size => "70x70") %>
                            <% else %>
                              <%= image_tag('https://s3-ap-northeast-1.amazonaws.com/tamtim/uploads/default.png', :class => "img-circle", :alt => "icon", :size => "70x70") %>
                            <% end %>
                          </div><!--topicon-->
                        </li>
                        <li class="yoko">
                          <div class="spbodyfont">
                            <%= link_to review.title, review_path(review.id) %>
                          </div>
                        </li>
                        <li class="yoko">
                          <div class="post-meta"></div>
                        </li>
                        <li class="yoko">
                          <div class="post-meta">
                            By&nbsp;<%= link_to review.user.name, user_path(id: review.user.id) %><%= review.created_at.strftime("%Y年%m月%d日") %>
                          </div>
                        </li>
                      </ul>
                      <div class="post-thumbnail">
                        <ul class="slider">
                          <% review.images.each do |image| %>
                            <li><%= link_to image_tag(image.to_s, :class => 'fit-imgtop'), review_path(review.id) if image.to_s %></li>
                          <% end %>
                        </ul>
                      </div>
                      <ul class="iine"><!--
                        <div class="topbutton"><li class="far fa-comment" "iineli"></li></div>
                        <div class="topbutton"><li class="far fa-folder"></li></div> -->
                        <div class="topbutton">
                          <li id="review-<%= review.id %>" data-review-id="<%= review.id %>">
                            <%= render "likes/like", review: review %>
                          </li>
                        </div>      
                      </ul>
                      <div class="spbodyfont">
                        <div id="reviewarea-<%= review.id %>" data-reviewarea-id="<%= review.id %>">
                          <%= render partial: 'reviews/review2', locals: { review: review } %>
                        </div>
                      </div>
                      <div class="spbodyfont comment_border">
                        コメント
                      </div>
                      <div class="spbodyfont">
                        <div id="comments_area-<%= review.id %>" data-comments_area-id="<%= review.id %>"><!-- #① -->
                          <!-- 投稿されたコメント一覧をブログの詳細ページに表示するためのrender -->
                          <% @comments = review.comments %>
                          <%= render partial: 'comments/index_top', locals: { comments: @comments } %>
                        </div>
                      </div>            
                      <% if user_signed_in? %>
                        <% unless review.user_id == current_user.id %>
                          <!-- コメント入力欄をブログの詳細ページに表示するためのrender -->
                          <%= render partial: 'comments/form_top', locals: { comment: @comment, review: review } %>
                        <% end %>
                      <% end %>            
                    </div><!--waku-->  
                  </div><!--col-->
                  <div class="col-md-3 col-sm-12 col-xs-12"></div><!--col-->
                </div><!--col-->
              <% end %><!--review-->
          </div><!--row-->
          </div>
