<section class="module-small">
  <div class="container">
    <div class="row">
      <div class="col-sm-2"></div>
      <div class="col-sm-8">
        <div class="post">
          <div class="post-header font-alt">
            <h1><%= @review.title %></h1>
            <div class="post-meta">
              By&nbsp;<%= link_to @post_user.name, user_path(id: @post_user.id) %>
              投稿日時: <%= @review.created_at.strftime("%Y年%m月%d日") %>
              <a href="#">#プレゼント, </a>
              <a href="#">#スポーツ</a>
            </div>
          </div>
          <div class="post-entry">
            <%== @review.content %>
            <!--サムネイル用画像のためコメントアウト <%= image_tag(@review.image.to_s, :size =>'100x100') if @review.image.to_s %> -->
            <div class="row">
              <div class="col-sm-4">
                <% if user_signed_in? %>
                  <% unless @review.user_id == current_user.id %>
                    <% if @favorite.present? %>
                      <p>
                        <button class="btn btn-primary btn-circle" type="submit"><i class="fa fa-heart"></i>
                          <%= link_to 'お気に入り解除', favorite_path(id: @favorite.id), method: :delete, :style=>"color:white;"%>
                        </button>
                      </p>
                    <% else %>
                      <p>
                        <button class="btn btn-d btn-circle" type="submit"><i class="fa fa-heart"></i>
                          <%= link_to 'お気に入り登録', favorites_path(review_id: @review.id), method: :post, :style=>"color:white;" %>
                        </button>
                      </p>
                    <% end %>
                  <% end %>
                <% end %>
              </div>

              <div class="col-sm-4">
                <% if user_signed_in? %>
                  <% unless @review.user_id == current_user.id %>
                    <% if @like.present? %>
                      <p>
                        <button class="btn btn-primary btn-circle" type="submit"><i class="glyphicon glyphicon-thumbs-up"></i>
                          <%= link_to 'いいね！', like_path(id: @like.id), method: :delete, :style=>"color:white;"%>
                        </button>
                      </p>
                    <% else %>
                      <p>
                        <button class="btn btn-d btn-circle" type="submit"><i class="glyphicon glyphicon-thumbs-up"></i>
                          <%= link_to 'いいね！', likes_path(review_id: @review.id), method: :post, :style=>"color:white;" %>
                        </button>
                      </p>
                    <% end %>
                  <% end %>
                <% end %>

                訪問者数 : <%= number_with_delimiter(@page_views) %>

              </div>
            </div>
            <% if user_signed_in? %>
              <% if @review.user_id == current_user.id %>
                <%= link_to 'Edit', edit_review_path(@review), data: { turbolinks: false } %> |
              <% end %>
              <%= link_to 'Back', reviews_path %>
            <% end %>
            <p>
              <h4 class="comment-title font-alt">レビュアー</h4>
            </p>
            <% if (@post_user.provider == "facebook") %>
              <% @post_user.icon = @post_user.icon.insert(4,"s") %>
              <%= image_tag @post_user.icon, :class => "img-circle", :alt => "Karan Singh Sisodia", :size => "50x50" %>
            <% elsif @post_user.avator %>
              <%= image_tag(@post_user.avator.to_s, :class => "img-circle", :alt => "Karan Singh Sisodia", :size => "50x50") %>
            <% else %>
              <%= image_tag('/no_img.png', :class => "img-circle", :alt => "Karan Singh Sisodia", :size => "50x50") %>
            <% end %>
            <%= link_to @post_user.name, user_path(id: @post_user.id) %>

            <div class="comment clearfix">
              <%= @post_user.profile  %>
            </div>
            <div class="waku">
              <ul class="iine">
                <li>いいねした人</li>
                <% @review.like_users.each do |like_user| %>
                  <% if like_user.provider == "facebook" %>
                    <div class="features-icon"><% like_user.icon = like_user.icon.insert(4,"s") %><%= link_to image_tag(like_user.icon, :class => "img-circle", :alt => "", :size => '70x70'), like_user %></div>
                  <% elsif like_user.avator %>
                    <div class="features-icon"><%= link_to image_tag(like_user.avator.to_s, :class => "img-circle", :alt => "", :size => '70x70'), like_user %></div>
                  <% else %>
                    <div class="features-icon"><%= link_to image_tag('imagse/no_img.png', :class => "img-circle", :alt => "", :size => '70x70'), like_user %></div>
                  <% end %>
                <% end %>
                <li>お気に入り登録した人</li>
                <% @review.favorite_users.each do |favorite_user| %>
                  <% if favorite_user.provider == "facebook" %>
                    <div class="features-icon"><% favorite_user.icon = favorite_user.icon.insert(4,"s") %><%= link_to image_tag(favorite_user.icon, :class => "img-circle", :alt => "", :size => '70x70'), favorite_user %></div>
                  <% elsif favorite_user.avator %>
                    <div class="features-icon"><%= link_to image_tag(favorite_user.avator.to_s, :class => "img-circle", :alt => "", :size => '70x70'), favorite_user %></div>
                  <% else %>
                    <div class="features-icon"><%= link_to image_tag('imagse/no_img.png', :class => "img-circle", :alt => "", :size => '70x70'), favorite_user %></div>
                  <% end %>
                <% end %>
              </ul>
            </div>
            <div id="comments_area"><!-- #① -->
              <!-- 投稿されたコメント一覧をブログの詳細ページに表示するためのrender -->
              <%= render partial: 'comments/index', locals: { comments: @comments } %>
            </div>
            <% if user_signed_in? %>
              <% unless @review.user_id == current_user.id %>
                <!-- コメント入力欄をブログの詳細ページに表示するためのrender -->
                <%= render partial: 'comments/form', locals: { comment: @comment, review: @review } %>
              <% end %>
            <% end %>
          </div>
        </div>

        <ul class="shareList">
          <li class="shareList__item"><a class="shareList__link icon-twitter" href="https://twitter.com/share?url=<%= request.url %>" target="_blank" title="Twitter"></a></li>
          <li class="shareList__item"><a class="shareList__link icon-facebook" href="https://www.facebook.com/share.php?url=<%= request.url %>" target="_blank" title="Facebook"></a></li>
          <li class="shareList__item"><a class="shareList__link icon-hatebu" href="//b.hatena.ne.jp/add?mode=confirm&url=<%= request.url %>" target="_blank" title="はてなブックマーク"></a></li>
          <li class="shareList__item"><a class="shareList__link icon-line" href="http://line.me/R/msg/text/?<%= request.url %>" target="_blank" title="LINE"></a></li>
        </ul>
      </div>
      <div class="col-sm-2"></div>
    </div>
  </div>
</section>
