<!DOCTYPE html>
<html lang="en-US" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
    <!--  
    Document Title
    =============================================
    -->
    <title>イチオシ！</title>
    <link rel="manifest" href="/manifest.json">
    <link rel="icon" type="image/x-icon" href="https://s3-ap-northeast-1.amazonaws.com/tamtim/uploads/favicon.ico">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">

    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
    
    <!--  
    Stylesheets
    =============================================
    
    -->
    <!-- Default stylesheets-->
    <!-- Template specific stylesheets-->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Volkhov:400i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
    <!-- Main stylesheet and color file-->
    
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/earlyaccess/notosansjapanese.css" rel="stylesheet" />
      
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
    <script>
      if(window.innerWidth < 750){
        $(document).ready(function(){
          $('.slider').bxSlider({	  
            slideWidth: 640,
            autoDirection:'prev',
            maxSlides: 4,
            minSlides: 1,
          })
        });
      } else {
        $(document).ready(function(){
        $('.slider').bxSlider({	  
          slideWidth: 640,
          autoDirection:'prev',
          maxSlides: 1,
          minSlides: 1,
          infiniteLoop: true
        })
      });
    }
    </script>
  </head>
  <body data-spy="scroll" data-target=".onpage-navigation" data-offset="60">
    <div data-turbolinks="false">
      <main>
        <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#custom-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/">ICHIOSHI</a>
            </div>
            <div class="collapse navbar-collapse" id="custom-collapse">
              <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                  <% if user_signed_in? %>
                    <li class="navicon">
                      <%= render 'notifications/notification_dropdown' %>
                    </li>
                    <li class="navicon">
                      <% if (current_user.provider == "facebook") %>
                        <% current_user.icon = current_user.icon %>
                        <%= link_to image_tag(current_user.icon, :class => "img-circle", :alt => "Karan Singh Sisodia", :size => "25x25"),user_path(current_user.id) %>
                      <% elsif current_user.avator %>
                        <%= link_to image_tag(current_user.avator.to_s, :class => "img-circle", :alt => "Karan Singh Sisodia", :size => "25x25"),user_path(current_user.id) %>   
                      <% else %>
                        <%= link_to image_tag('images/no_img.png', :class => "img-circle", :alt => "Karan Singh Sisodia", :size => "25x25"),user_path(current_user.id) %>
                      <% end %>
                    </li>
                    <li>
                      <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
                    </li>
                  <% end %>
                </li>
              </ul>
            </div>
          </div>
        </nav>
        <!-- パンくずリスト（コメントアウト）
        <%= breadcrumbs pretext: "", separator: " &rsaquo; " %>-->
        <%= notice %>
        <%= alert %>

        <%= yield %>

      </main>

      <footer class="footer">
        <nav class="global-nav">
          <ul class="nav-list">
            <li class="nav-item">
                <i class="fas fa-home"></i>
                <span><a href="/">フィード</a></span>
            </li>
            <li class="nav-item">
                <i class="fas fa-search-plus"></i>
                <span><%= link_to '見つける', discovers_path , data: { turbolinks: false } %></span>
            </li>
            <li class="nav-item">
                <i class="fas fa-camera"></i>
                <span><%= link_to '投稿する', new_review_path , data: { turbolinks: false } %></span>
            </li>
            <li class="nav-item">
                <i class="far fa-user"></i>
                <span><%= link_to 'マイページ', user_path(current_user.id) , data: { turbolinks: false } %></span>
            </li>
          </ul>
        </nav>
      </footer>
    </div>
  </body>
</html>