<!DOCTYPE html>
<html lang="en-US" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
    <!--  
    Document Title
    =============================================
    -->
    <title>イチオシ！</title>
    <link rel="manifest" href="/manifest.json">
    <link rel="icon" type="image/x-icon" href="https://s3-ap-northeast-1.amazonaws.com/tamtim/uploads/favicon.ico">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">

    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
    
    <!--  
    Stylesheets
    =============================================
    
    -->
    <!-- Default stylesheets-->
    <!-- Template specific stylesheets-->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Volkhov:400i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
    <!-- Main stylesheet and color file-->
    
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/earlyaccess/notosansjapanese.css" rel="stylesheet" />
      
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
    <script>
      if(window.innerWidth < 750){
        $(document).ready(function(){
          $('.slider').bxSlider({	  
            slideWidth: 640,
            autoDirection:'prev',
            maxSlides: 4,
            minSlides: 1,
          })
        });
      } else {
        $(document).ready(function(){
        $('.slider').bxSlider({	  
          slideWidth: 640,
          autoDirection:'prev',
          maxSlides: 1,
          minSlides: 1,
          infiniteLoop: true
        })
      });
    }
    </script>
  </head>
  <body data-spy="scroll" data-target=".onpage-navigation" data-offset="60">
    <div data-turbolinks="false">
      <main>
         <div class="feedback"><a class="feedback_font" href="https://goo.gl/forms/QzygIRY5UlgtNqYm1" target="_blank">フィードバックする</a></div>
        <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
          <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#custom-collapse">
              <span class="sr-only">メニュー</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
              <a class="navbar-brand" href="/">ICHIOSHI</a>
          </div>
            <div class="collapse navbar-collapse" id="custom-collapse">
              <ul class="nav navbar-nav navbar-right header-right-menu">
                <% if user_signed_in? %>
                  <li class="navicon">
                    <% if  request.url.include?('/users/edit') %>
                      <%= render :partial => 'notifications/notification_dropdown' %>
                    <% else %>
                      <%= render 'notifications/notification_dropdown' %>
                    <% end %>
                  </li>
                  <li class="navicon">
                    <% if (current_user.provider == "facebook") %>
                      <%= link_to image_tag(current_user.icon, :class => "img-circle", :alt => "icon", :size => "25x25"),user_path(current_user.id) %>
                    <% elsif current_user.avator.nil? %>
                      <%= link_to image_tag(current_user.avator.to_s, :class => "img-circle", :alt => "icon", :size => "25x25"),user_path(current_user.id) %>   
                    <% else %>
                      <%= link_to image_tag('https://s3-ap-northeast-1.amazonaws.com/tamtim/uploads/default.png', :class => "img-circle", :alt => "icon", :size => "25x25"),user_path(current_user.id) %>
                    <% end %>
                  </li>
                  <li>
                    <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
        </nav>
        <!-- パンくずリスト（コメントアウト）
        <%= breadcrumbs pretext: "", separator: " &rsaquo; " %>-->
        <div class="main-container">
          <%= notice %>
          <%= alert %>
          <%= yield %>
        </div>
      </main>

      <footer class="footer">
        <nav class="navbar-footer nav-bar">
          <div class="nav-item footer-menu">
            <%= link_to root_path, data: { turbolinks: false } do %>
            <% if request.path == "/" %>
            <i class="fas fa-home my-skyblue"></i>
            <% else %>
              <i class="fas fa-home"></i>
            <% end %>
            <% end %>
          </div>
          <div class="nav-item footer-menu">
            <%= link_to discovers_path, data: { turbolinks: false } do %>
            <% if request.path == discovers_path %>
              <i class="fas fa-search my-skyblue"></i>
              <% else %>
              <i class="fas fa-search"></i>
              <% end %>
            <% end %>
          </div>
          <div class="nav-item footer-menu">
            <%= link_to new_review_path, data: { turbolinks: false } do %>
            <% if request.path == new_review_path %>
              <i class="far fa-plus-square my-skyblue"></i>
              <% else %>
              <i class="far fa-plus-square"></i>
            <% end %>
            <% end %>
          </div>
          <div class="nav-item footer-menu">
            <% if user_signed_in? %>
              <%= link_to user_path(current_user.id), data: { turbolinks: false } do %>
              <% if request.path == user_path(current_user.id) %>
              <i class="far fa-user my-skyblue"></i>
              <% else %>
                <i class="far fa-user"></i>
              <% end %>
              <% end %>
            <% else %>
              <!-- TODO ログインしてないときのボタンを作る -->
            <% end %>
          </div>
        </nav>
      </footer>
    </div>
  </body>
</html>